.btn {
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     transition: 0.3s;
     cursor: pointer;

     &.btn-primary, 
     &.btn-secondary {
          padding: 10px;
          font-size: 15px;
          border-radius: 7px;
          border: 1px solid var(--white);
     }

     &.btn-primary {
          color: var(--black);
          background: var(--primary10);
          &:hover {
               background: var(--primary);
               color: var(--white);
               border: 1px solid var(--primary15);
          }
     } 
     
     &.btn-secondary {
          color: var(--black);
          background: var(--primary20);
          &:hover {
               background: var(--secondary);
               color: var(--white);
               border: 1px solid var(--primary15);
          }
     }


}

