.btn {
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     transition: 0.2s;
     cursor: pointer;

     &.btn-primary, 
     &.btn-secondary {
          padding: 10px;
          font-size: 15px;
          border-radius: 7px;
          font-weight: 500;
          border: 2px solid var(--white);
          box-shadow: var(--shadow);
     }

     &.btn-primary {
          color: var(--white);
          background: var(--primary);
          &:hover {
               background: var(--primary10);
          }
     } 
     
     &.btn-secondary {
          color: var(--white);
          background: var(--primary20);
          &:hover {
               background: var(--primary20);
               color: var(--white);
          }
     }
}